html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* .profile a {
  color: #0066c0;
  text-decoration: none;
}

.profile a:visited {
  color: #1a0dab;
  text-decoration: none;
}
.profile a:hover {
  color: #0066c0;
  text-decoration: none;
} */